<strong>Olá, {{ name }}</strong>
<p>A encomenda de número {{ idPackage }} foi cancelada, detalhes abaixo :</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Problema:</strong> {{ problem }}
  <br />
</p>
